@font-face {
  font-family: "SVN-GothamBold";
  src: url(../fonts/SVN-GothamBold/SVN-GothamBold.woff2) format("woff2"), 
  url(../fonts/SVN-GothamBold/SVN-GothamBold.eot) format("eot"), 
  url(../fonts/SVN-GothamBold/SVN-GothamBold.ttf) format("ttf"), 
  url(../fonts/SVN-GothamBold/SVN-GothamBold.woff) format("woff");
}
@font-face {
  font-family: "SVN-Gotham";
  src: url(../fonts/SVN-Gotham/SVN-Gotham.woff2) format("woff2"), 
  url(../fonts/SVN-Gotham/SVN-Gotham.eot) format("eot"), 
  url(../fonts/SVN-Gotham/SVN-Gotham.ttf) format("ttf"), 
  url(../fonts/SVN-Gotham/SVN-Gotham.woff) format("woff");
}
@font-face {
  font-family: "SFUFuturaBold";
  src: url(../fonts/SFUFuturaBold/SFUFuturaBold.woff2) format("woff2"), 
  url(../fonts/SFUFuturaBold/SFUFuturaBold.eot) format("eot"), 
  url(../fonts/SFUFuturaBold/SFUFuturaBold.ttf) format("ttf"), 
  url(../fonts/SFUFuturaBold/SFUFuturaBold.woff) format("woff");
}
@font-face {
  font-family: "SFUFuturaBook";
  src: url(../fonts/SFUFuturaBook/SFUFuturaBook.woff2) format("woff2"), 
  url(../fonts/SFUFuturaBook/SFUFuturaBook.eot) format("eot"), 
  url(../fonts/SFUFuturaBook/SFUFuturaBook.ttf) format("ttf"), 
  url(../fonts/SFUFuturaBook/SFUFuturaBook.woff) format("woff");
}
@font-face {
  font-family: "ElleFutura-Medium";
  src: url(../fonts/ElleFutura-Medium/ElleFutura-Medium.woff2) format("woff2"), 
  url(../fonts/ElleFutura-Medium/ElleFutura-Medium.eot) format("eot"), 
  url(../fonts/ElleFutura-Medium/ElleFutura-Medium.ttf) format("ttf"), 
  url(../fonts/ElleFutura-Medium/ElleFutura-Medium.woff) format("woff");
}
@font-face {
  font-family: "ElleFutura-Bold";
  src: url(../fonts/ElleFutura-Bold/ElleFutura-Bold.woff2) format("woff2"), 
  url(../fonts/ElleFutura-Bold/ElleFutura-Bold.eot) format("eot"), 
  url(../fonts/ElleFutura-Bold/ElleFutura-Bold.ttf) format("ttf"), 
  url(../fonts/ElleFutura-Bold/ElleFutura-Bold.woff) format("woff");
}
@font-face {
  font-family: "SFUFuturaHeavy";
  src: url(../fonts/SFUFuturaHeavy/SFUFuturaHeavy.woff2) format("woff2"), 
  url(../fonts/SFUFuturaHeavy/SFUFuturaHeavy.eot) format("eot"), 
  url(../fonts/SFUFuturaHeavy/SFUFuturaHeavy.ttf) format("ttf"), 
  url(../fonts/SFUFuturaHeavy/SFUFuturaHeavy.woff) format("woff");
}
ul{
	padding: 0px;
	margin: 0px;
}
ul li{
	list-style: none;
}
#answer-1{
	display: none;
}
#answer-2{
	display: none;
}
#answer-3{
	display: none;
}
.md-answer{
	display: none;
}

.header{
	position: relative;
    z-index: 99999999;
    background: #FFF;
}
.header .logo{
	width: 18%;
	display: table;
	margin: 0 auto;
	padding: 19px 0px;
}
.header .logo img{
	width: 100%;
}

.main-header {
	position: relative;
	font-family: "SVN-GothamBold";
	font-weight: 700;
}

.md-desktop{
	display: block;
}
.md-mobile{
	display: none;
}

.main-page .left-content{
	float: left;
	width: 56%;
	position: relative;
	/*margin-left: 5%;*/

}
/*.main-page .left-content:hover .md-popup-1{
	opacity: 0;
}*/
.hover{
	opacity: 0;
	transition-duration: 0.5s;
}
.main-page{
	/*position: fixed;
	left: 0%;
	top: 14%;
	width: 100%;
	height: 100%;*/
}
.main-page .left-content .md-popup-0:hover img{
	opacity: 1 !important;
	transition-duration: 0.5s;
	transform: scale(1.1);
}
.main-page .left-content .md-popup-1:hover img{
	opacity: 1 !important;
	transition-duration: 0.5s;
	transform: scale(1.1);
}
.main-page .left-content .md-popup-0:hover .img-light{
	opacity: 1;
	transition-delay: 0.2s;
}
.main-page .left-content .md-popup-1:hover .img-light{
	opacity: 1;
	transition-delay: 0.2s;
}

.main-page .right-content{
	float: left;
	width: 44%;
}
.main-page .left-content img{
	width: 100%;
}
.main-page .left-content .main-img{
	height: 100%;
}
.main-page .right-content .md-img{
	height: 100%;
}
.main-page .right-content img{
	width: 100%;
	height: 100%;
}
.main-page .left-content .img-light{
	position: absolute;
	left: -23%;
    bottom: -3%;
	width: 80%;
	opacity: 0;
}
.main-page .left-content .md-popup-1{
	position: absolute;
	z-index: 2;
	cursor: pointer;
    left: 45.5%;
    top: 40.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-2{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 27.5%;
    top: 40.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-3{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 36.5%;
    top: 40.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-4{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 54.5%;
    top: 40.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-5{
	position: absolute;
	z-index: 2;
	cursor: pointer;
    left: 45.5%;
    top: 27%;
    width: 8.5%;
}
.main-page .left-content .md-popup-6{
	position: absolute;
	z-index: 2;
	cursor: pointer;
    left: 54.5%;
    top: 27%;
    width: 8.5%;
}
.main-page .left-content .md-popup-7{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 27.5%;
    top: 53%;
    width: 8.5%;
}
.main-page .left-content .md-popup-8{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 36.5%;
    top: 53%;
    width: 8.5%;
}
.main-page .left-content .md-popup-9{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 45.5%;
    top: 53%;
    width: 8.5%;
}
.main-page .left-content .md-popup-10{
	position: absolute;
	z-index: 2;
	cursor: pointer;
    left: 54.5%;
    top: 53%;
    width: 8.5%;
}
.main-page .left-content .md-popup-11{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 36.5%;
    top: 66.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-12{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 45.5%;
    top: 66.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-13{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	left: 54.5%;
    top: 66.5%;
    width: 8.5%;
}
.main-page .left-content .md-popup-0 img{
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}
.main-page .left-content .md-text{
	position: absolute;
    left: 27%;
    top: 55%;
    width: 49%;
    z-index: 1;
    animation: md_opacity infinite 5s;
}
@keyframes md_opacity{
	0%{
		opacity: 1;
	}
	10%{
		opacity: 1;
	}
	13%{
		opacity: 0;
	}
	16%{
		opacity: 1;
	}
	19%{
		opacity: 0;
	}
	22%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	27%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
.main-page .left-content .bg-op-1{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
/*	background: #000;*/
	opacity: 0.7;
}
.main-page .right-content{
	position: relative;
	/*padding: 50px 20px 100px;*/
}

.main-page .right-content .md-img{
	position: relative;
}
.main-page .right-content .md-text-1{
	position: absolute;
    left: 61.8%;
    top: 37.7%;
    width: 20%;
    z-index: 2;
}
.md-answer{
   width: 100%;
    height: 100%;
    left: 0%;
    top: 7%;
    display: none;
    padding: 44px 20px;
    color: #000;
    background: url(../images/bg-popup.jpg) no-repeat, #f9fafc;
    background-size: auto 100%;
}
.md-answer .md-content{
	text-align: center;
	text-transform: uppercase;
	position: absolute;
   	right: 10%;
    top: 50%;
    transform: translateY( -50%);
    width: 28%;
    background: #FFF;
    height: 75%;
    min-width: 360px;
    z-index: 9999;
}
.md-answer .md-content .main-content{
	text-align: center;
	text-transform: uppercase;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.md-answer .md-content .ui.form .grouped.fields .field{
	text-align: left;
	margin-left: 20px;
}
.md-answer #answer-1 .ui.form .grouped.fields .field{
	text-align: center;
	margin-left: 0px;
}
.md-answer .md-content h6{
	font-family: "ElleFutura-Bold";
	font-size: 18px;
	margin-bottom: 20px;
}
.md-answer .md-content p{
	font-family: "SFUFuturaBold";
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
	text-decoration: underline;
}
.md-answer .md-content label{
	font-family: "SFUFuturaBook";
	text-transform: uppercase !important;
	font-weight: 550 !important;
}
.md-answer .md-content .ui.form .grouped.fields>label{
	margin-bottom: 20px;
	font-weight: 600 !important;
}
.ui.checkbox input.hidden+label{
	font-size: 16px;
	 font-family: "ElleFutura-Medium";
	 line-height: 1.4;
}
.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before{
	top: 4px;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after{
	top: 4px;
}
.fancybox-slide--html{
	padding: 0px;
	overflow: hidden;
}

.md-answer .md-content input{
	font-family: "SFUFuturaHeavy";
	text-transform: uppercase;
	background: #FFF;
	margin-top: 20px;
	border: 1px solid #000;
	padding: 5px 15px;
	border-radius: 0px;
	opacity: 1;
	height: auto;
}
.md-answer .md-content input:hover{
	background: #000;
	color: #FFF;
	transition-duration: 0.3s;
}
.md-wrong{
	position: relative;
}
.md-wrong .md-content{
	text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY( -50%);
    width: 28%;
    background: #FFF;
    height: 75%;
    min-width: 360px;
    z-index: 9999;
}
.md-scanqr .md-content .main-content{
	width: 85%;
}
.md-wrong .md-content a{
	font-family: "SFUFuturaHeavy";
	text-transform: uppercase;
	background: #FFF;
	margin-top: 20px;
	border: 1px solid #000;
	padding: 5px 15px;
	border-radius: 0px;
	color: #000;
	display: inline-block;
}
.md-wrong .md-content a:hover{
	background: #000;
	color: #FFF;
	transition-duration: 0.3s;
}
.md-wrong .md-content h6{
	font-size: 25px;
	margin-bottom: 10px;
}
.md-wrong .md-content span{
	font-family: "SFUFuturaHeavy";
	display: block;
}

.md-correct {
	width: 75%;
	background-color: rgba(255, 255, 255, 0.7);
	top: 7%;
	height: 80%;
	display: none;
	padding: 30px 40px;
}
.md-correct .md-content .md-left-content{
	float: left;
	width: 40%;
	margin-left: 5%;
	padding-top: 25px;
}
.md-correct .md-content .md-left-content img{
	width: 30%;
	margin-top: 20px;
}
.md-correct .md-content .md-left-content .md-col{
	display: block;
	margin-bottom: 10px;
}
.md-correct .md-content .md-left-content .md-col label{
	float: left;
	font-family: "ElleFutura-Medium";
}
.md-correct .md-content .md-left-content .md-col input{
	float: right;
	width: 70%;
	height: 30px;
	background: #FFF;
	border: 1px solid #000;
	padding: 0px 10px;
}
.md-correct .md-content .md-left-content p.error{
	color: rgba(201, 0, 3, 1);
	font-size: 10px;
	font-style: italic;
	text-align: right;
	font-family: "ElleFutura-Medium";
}
.md-correct .md-content .md-left-content .md-col-1 input{
	float: right;
	width: 60%;
}
.md-correct .md-content .md-left-content h6{
	font-family: "SFUFuturaBold";
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 20px;
}
.md-correct .md-content .md-left-content span{
	display: block;
	margin: 10px 0px;
	font-family: "ElleFutura-Medium";
}
.md-correct .md-content .md-left-content .ui.checkbox{
	font-family: "ElleFutura-Medium";
	display: table;
	margin: 0 auto 10px auto;
	text-transform: uppercase;
	font-size: 12px;
}
.md-correct .md-content .md-left-content .ui.checkbox a{
	color: #000;
	text-decoration: underline;
}
.md-correct .md-content .md-left-content input[type='button']{
	display: table;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 5px 20px;
	font-family: "SFUFuturaBold";
}
.md-correct .md-content .md-left-content input[type='button']:hover{
	background: #000;
	color: #FFF;
	transition-duration: 0.3s;
}
.md-correct .md-content .md-left-content .ui.selection.dropdown{
	height: 30px;
	min-height: auto;
	padding: 8px 10px;
	float: right;
	width: 60%;
	background: #FFF;
    border: 1px solid #000;
    border-radius: 0px;
    min-width: auto;
}
.md-correct .md-content .md-left-content .ui.selection.dropdown>.dropdown.icon{
	padding: 7px;
}
.md-correct .md-content .md-right-content{
	float: right;
	width: 42%;
	margin-right: 3%;
}
.md-correct .md-content .md-right-content img{
	width: 100%;
}
.md-answer{
	position: relative;
}

.md-scanqr .md-content p{
	text-decoration: none;
	font-size: 14px;
	text-transform: none;
	font-family: "ElleFutura-Medium";
	font-weight: 500;
	margin-bottom: 20px;
}
.md-scanqr .md-content p span{
	font-family: "ElleFutura-Bold";
	text-transform: uppercase;
	
}
.md-scanqr .md-content p.md-text-1 span{
	display: block;
}
.md-scanqr .md-content p.md-text-2{
	text-transform: uppercase;
}
.md-scanqr .md-content .md-img-1{
	width: 50%;
	display: table;
	margin: 0 auto 20px auto;
}
.md-scanqr .md-content img{
	width: 100%;
}
.fancybox-slide--html .fancybox-close-small{
	display: none;
}
.fancybox-slide--html .md-scanqr .fancybox-close-small{
	display: block !important;
	top: 12.5%;
	right: 10%;
	z-index: 99999999;
}
.fancybox-slide--html .md-close-popup{
	display: block !important;
    position: static;
    width: auto;
    left: auto;
    top: auto;
    margin: 0 auto;
}
.fancybox-is-open .fancybox-bg{
	opacity: 1;
}
.md-answer .bg-op-5{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	animation: opacit_1 3s ease-in;
}
@keyframes opacit_1{
	0%{
		opacity: 0.7;
	}
	100%{
		opacity: 0.3;
	}
}
.active-opacity{
	animation: opacit_2 3s ease-in !important;
	opacity: 0 !important;
}
@keyframes opacit_2{
	0%{
		opacity: 0.3;
	}
	100%{
		opacity: 0;
	}
}
.bg-op-6{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

.md-answer .md-img-popup-1{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 358px;
    top: 40.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-2{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 216px;
    top: 40.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-3{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 285px;
    top: 40.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-4{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 428px;
    top: 40.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-5{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 358px;
    top: 27.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-6{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 428px;
    top: 27.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-7{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 216px;
    top: 53.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-8{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 285px;
    top: 53.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-9{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 358px;
    top: 53.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-10{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 428px;
    top: 53.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-11{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 285px;
    top: 66.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-12{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 358px;
    top: 66.5%;
    width: 65.8px;
}
.md-answer .md-img-popup-13{
	position: absolute;
	opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    left: 428px;
    top: 66.5%;
    width: 65.8px;
}
.md-wrong{
	background: url(../images/bg-popup-1.jpg) no-repeat, #f9fafc;
	background-size: auto 100%;
}
.compensate-for-scrollbar{
	margin-right: 0px !important;
}
.md-dieukhoan{
	display: none;
	top: 7%;
	width: 90%;
	font-family: 'SFUFuturaBook';
	max-width: 660px;
	padding: 44px 30px 44px 44px;
	height: 75%;
	text-align: justify;
}
.md-dieukhoan .fancybox-close-small{
	display: block !important;
}
.futura-bold{
	font-family: 'SFUFuturaBold' !important;
}
.md-modal-fancybox{
	text-align: center;
	background: #FFF !important;
	    width: 40%;
	    display: none;
}
.md-modal-fancybox h3{
	text-transform: uppercase;
    color: #00a639;
    font-size: 20px;
    font-family: "SFUFuturaBold";
}
.md-modal-fancybox p{
	font-family: "ElleFutura-Medium";
}
.md-modal-fancybox a{
	display: inline-block;
    color: #FFF;
    background: #303030;
    font-family: 'SFUFuturaBold';
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    padding: 1.2% 20px;
    margin: 0.7rem 0px;
}
.md-modal-fancybox a:hover{
    background: #40A959;
    transition-duration: 0.4s;
}
.md-modal-fancybox .fancybox-close-small{
	display: block !important;
}
.md-correct .fancybox-close-small{
	display: block !important;
}
.md-modal-fancybox svg{
	background: url(../images/ico-close-popup.png) no-repeat;
	    -webkit-background-size: 100% 100%;
	    background-size: 100%;
	    opacity: 1;
}
.logo-popup{
	width: 30%;
	min-width: 200px;
	display: table;
	margin: 0 auto 20px auto;
}
.logo-popup img{
	width: 100%;
}
.ui.checkbox .box:before, .ui.checkbox label:before{
	top: 4px;
}
.ui.checkbox .box:after, .ui.checkbox label:after{
	top: 4px;
}

@media (max-width: 1200px){
	.md-correct{
		width: 80%;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	.md-correct{
		font-size: 12px;
		width: 90%;
	}
	.md-correct .md-content .md-left-content .md-col-1 input{
		width: 55%;
	}
	.md-correct .md-content .md-left-content .ui.selection.dropdown{
		width: 55%;
	}
}

@media (min-width: 768px){
	.container {
	    max-width: 750px;
	}
}
@media (min-width: 992px){
	.container {
	    max-width: 970px;
	}
}
@media (min-width: 1200px){
	.container {
	    max-width: 1170px;
	}
}
@media (min-width: 1230px){
	.container {
	    max-width: 1230px;
	}
}

@media screen and (max-width: 767px){
	.container{
		width: auto;
		max-width: 100%;
		padding: 0px 10px;
	}
	.md-desktop{
		display: none;
	}
	.md-mobile{
		display: block;
	}
	.header .logo{
		width: 60%;
		max-width: 280px;
	}
	.main-page .left-content{
		float: none;
		width: 100%;
		height: auto !important;
	}
	.main-page .right-content{
		float: none;
		width: 100%;
		padding: 0px;

	}
	.md-answer{
		width: 90%;
		height: 80%;
		left: auto;
		top: 7%;
		min-width: auto;
		background: #FFF;
	}
	.md-answer .md-content{
		width: 100%;
	}
	
	.md-answer .bg-op-5{
		display: none;	
	}
	.bg-op-6{
		display: none;
	}
	.main-page .right-content .md-img{
		height: auto;
	}
	.main-page .right-content img{
		height: auto;
	}
	.md-answer .md-content{
		left: 50%;
		right: auto;
		transform: translate(-50%,-50%);
		height: 100%;
		min-width: auto;
	}
	.md-answer .md-content h6{
		font-size: 20px;
	}
	.md-answer .md-content p{
		font-size: 40px;
	}
	.md-answer .md-content .ui.form .grouped.fields>label{
		font-size: 16px;
	}
	.md-answer .md-content input{
		font-size: 16px;
	}
	.md-answer .md-img-popup-0{
		display: none;
	}
	.md-scanqr .md-content p{
		font-size: 16px;
	}
	.ui.checkbox input.hidden+label{
		font-size: 15px;
	}

	.md-correct{
		width: 90%;
	}
	.md-correct .md-content .md-right-content img{
		width: 80%;
		display: table;
		margin: 0 auto;
	}
	.md-correct .md-content .md-left-content{
		float: none;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.md-correct .md-content .md-right-content{
		float: none;
		width: 100%;
		margin-left: 0px;
		margin-bottom: 30px;
	}
	.md-correct .md-content .md-left-content img{
		display: table;
		margin: 20px auto 0 auto;
		width: 40%;
	}
	.md-correct .md-content .md-left-content .md-col label{
		float: none;
		display: block;
	}
	.md-correct .md-content .md-left-content .md-col input{
		float: none;
		width: 100%;
	}
	.md-correct .md-content .md-left-content .ui.selection.dropdown{
		float: none;
		width: 100%;
	}
	.md-correct .md-content .md-left-content h6{
		text-align: center;
		font-size: 20px;
	}
	.md-answer::before{
		display: none;
	}
	.md-answer{
		overflow: auto;
	}
	.md-modal-fancybox{
		width: 90%;
		padding: 35px 20px !important;
	}
	.fancybox-content{
		padding: 30px 20px;
	}
	.main-page .right-content .bg-op-1{
		display: none;
	}
	.md-wrong .md-content h6{
		font-size: 25px;
	}
	.md-wrong .md-content{
		height: auto;
	}
	.md-wrong .md-content span{
		font-size: 16px;
	}
	.md-wrong .md-content a{
		font-size: 16px;
	}
	.md-scanqr .md-content{
		position: static;
		width: 100%;
		transform: translate(0,0);
		height: auto;

	}
	.md-scanqr .md-content .main-content{
		position: static;
		width: 100%;
		transform: translate(0,0);
		height: auto;
	}
	.fancybox-slide--html .md-scanqr .fancybox-close-small{
		top: 0%;
		right: 0%;
	}
}
@media (max-width: 520px){
	.header .main-menu-mb ul li a{
		font-size: 11px;
	}
}
@media (max-width: 420px){
	.header .main-menu-mb ul li a{
		font-size: 10px;
	}
	.md-scanqr .md-content{
		position: absolute;
		transform: translate(-50%,-50%);
		width: 90%;
	}
}
@media (max-width: 380px){
	.header .main-menu-mb ul li a{
		font-size: 8px;
	}
}
.active-1{
	left: 0;
}
.active-2{
	top: 0px !important;
}
.active-3{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}
.scroll-top{
	top: -120px;
	position: fixed;
}
@media screen and (min-height: 900px){
	.md-answer{
		/*height: auto;*/
		top: 0%;
	}
}
@media screen and (min-width: 768px){
	/*.md-answer{
		height: 75% !important;
		top: 7%;
	}*/
}
@media screen and (max-width: 420px){
	.md-answer{
		height: 75% !important;
		top: 5%;
	}
}
@media screen and (min-width: 1600px){
	.md-correct .md-content .md-right-content img{
		max-width: 500px;
	}
	.md-correct .md-content .md-left-content h6{
		font-size: 30px;
		margin-bottom: 30px;
	}
	.md-correct .md-content .md-left-content .md-col label{
		font-size: 20px;
	}
	.md-correct .md-content .md-left-content span{
		font-size: 20px;
	}
	.md-correct .md-content .md-left-content .md-col input{
		height: 40px;
	    padding: 0px 15px;
	}
	.md-correct .md-content .md-left-content .ui.selection.dropdown{
		height: 40px;
		padding: 12px 15px;
	}
	.ui.checkbox input.hidden+label{
		font-size: 20px;
	}
	.md-correct .md-content .md-left-content input[type='button']{
		font-size: 20px;
		padding: 10px 25px;
	}
	.md-correct .md-content .md-left-content .md-col{
		margin-bottom: 20px;
	}
	.md-correct{
		height: auto;
		top: 0%;
	}
	.md-answer .md-content h6{
		font-size: calc(5px + 1.5vw);
	}
	.md-answer .md-content .ui.form .grouped.fields>label{
		font-size: calc(3px + 1vw);
		line-height: normal;
	}
	.md-answer .ui.checkbox input.hidden+label{
		font-size: calc(3px + 1vw);
	}
	.md-answer .md-content input{
		font-size: calc(3px + 1vw);
	}
	.md-answer .md-content h6{
		margin-bottom: 20px;
	}
	.md-wrong .md-content span{
		font-size: calc(3px + 1vw);
		margin-bottom: 20px;
	}
	.md-wrong .md-content a{
		font-size: calc(3px + 1vw);
		padding: 10px 25px;
	}
	.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before{
		width: 25px;
		height: 25px;
	}
	.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after{
		width: 25px;
		height: 25px;
	}
}
@media screen and (min-width: 1600px), and (min-height: 900px){
	.md-answer .md-img-popup-1{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 419px;
        top: 40.5%;
        width: 76.8px;
	}
	.md-answer .md-img-popup-2{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 254px;
	    top: 40.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-3{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 337px;
	    top: 40.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-4{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 502px;
	    top: 40.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-5{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 419px;
        top: 27.5%;
        width: 76.8px;
	}
	.md-answer .md-img-popup-6{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 502px;
	    top: 27.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-7{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 254px;
	    top: 53.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-8{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 337px;
	    top: 53.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-9{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 419px;
	    top: 53.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-10{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 502px;
	    top: 53.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-11{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 337px;
	    top: 66.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-12{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 419px;
	    top: 66.5%;
	    width: 76.8px;
	}
	.md-answer .md-img-popup-13{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 502px;
	    top: 66.5%;
	    width: 76.8px;
	}
}
@media screen and (min-width: 1920px), and (min-height: 1080px){
	.md-answer .md-img-popup-1{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 504px;
        top: 40.5%;
        width: 90.8px;
	}
	.md-answer .md-img-popup-2{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 406px;
	    top: 40.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-3{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 305px;
	    top: 40.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-4{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 604px;
	    top: 40.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-5{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 504px;
        top: 27.5%;
        width: 90.8px;
	}
	.md-answer .md-img-popup-6{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 604px;
	    top: 27.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-7{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 406px;
	    top: 53.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-8{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 305px;
	    top: 53.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-9{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 504px;
	    top: 53.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-10{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 604px;
	    top: 53.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-11{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 406px;
	    top: 66.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-12{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 504px;
	    top: 66.5%;
	    width: 90.8px;
	}
	.md-answer .md-img-popup-13{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 604px;
	    top: 66.5%;
	    width: 90.8px;
	}
}
@media screen and (min-width: 2560px), and (min-height: 1440px){
	.md-answer .md-img-popup-1{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 674px;
        top: 40.5%;
        width: 125px;
	}
	.md-answer .md-img-popup-2{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 405px;
	    top: 40.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-3{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 535px;
	    top: 40.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-4{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 802px;
	    top: 40.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-5{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 674px;
        top: 27.5%;
        width: 125px;
	}
	.md-answer .md-img-popup-6{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 802px;
	    top: 27.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-7{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 405px;
	    top: 53.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-8{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 535px;
	    top: 53.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-9{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 674px;
	    top: 53.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-10{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 802px;
	    top: 53.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-11{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 535px;
	    top: 66.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-12{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 674px;
	    top: 66.5%;
	    width: 125px;
	}
	.md-answer .md-img-popup-13{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 802px;
	    top: 66.5%;
	    width: 125px;
	}
}
@media screen and (min-width: 3840px), and (min-height: 2160px){
	.md-wrong .md-content a{
		padding: 30px 50px;
	}
	.md-answer .md-content input{
		padding: 30px 50px;
	}
	.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before{
		top: 15px;
		width: 30px;
		height: 30px;
	}
	.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after{
		width: 30px;
		height: 30px;
		top: 15px;
	}
	.md-answer .md-img-popup-1{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1013px;
        top: 40.5%;
        width: 183px;
	}
	.md-answer .md-img-popup-2{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 607px;
	    top: 40.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-3{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 808px;
	    top: 40.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-4{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1208px;
	    top: 40.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-5{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1013px;
        top: 27.5%;
        width: 183px;
	}
	.md-answer .md-img-popup-6{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1208px;
	    top: 27.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-7{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 607px;
	    top: 53.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-8{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 808px;
	    top: 53.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-9{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1013px;
	    top: 53.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-10{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1208px;
	    top: 53.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-11{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 808px;
	    top: 66.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-12{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1013px;
	    top: 66.5%;
	    width: 183px;
	}
	.md-answer .md-img-popup-13{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1208px;
	    top: 66.5%;
	    width: 183px;
	}
}
@media screen and (min-width: 5120px), and (min-height: 2880px){
	.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before{
		top: 20px;
		width: 40px;
		height: 40px;
	}
	.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after{
		width: 40px;
		height: 40px;
		top: 20px;
	}
	.md-answer .md-img-popup-1{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1348px;
        top: 40.5%;
        width: 239px;
	}
	.md-answer .md-img-popup-2{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 812px;
	    top: 40.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-3{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1080px;
	    top: 40.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-4{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1615px;
	    top: 40.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-5{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1348px;
        top: 27.5%;
        width: 239px;
	}
	.md-answer .md-img-popup-6{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1615px;
	    top: 27.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-7{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 812px;
	    top: 53.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-8{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1080px;
	    top: 53.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-9{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1348px;
	    top: 53.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-10{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1615px;
	    top: 53.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-11{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1080px;
	    top: 66.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-12{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1348px;
	    top: 66.5%;
	    width: 239px;
	}
	.md-answer .md-img-popup-13{
		position: absolute;
		opacity: 0.8;
	    z-index: 2;
	    cursor: pointer;
	    left: 1615px;
	    top: 66.5%;
	    width: 239px;
	}
}